/* ----- Base element styles ----- */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    color: rgb(41, 43, 43);
    margin: 0;
    background: rgb(233, 228, 228);
}

p {
    font-size: 1.25em; /* 20px */
    margin-bottom: 2em;
    text-align: center;
    font-weight: 300;
}

h2 {
    text-align: center;
    text-transform: uppercase;
}

h3 {
    font-size: 1.75em;
    text-align: center;
    font-weight: 400;
}

h4 {
    font-size: 1.25em;
    padding: 5px 5px;
    text-align: center;
}
/* ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 20px;
} */

a {
    text-decoration: none;
    color: rgb(41, 43, 43);
    font-weight: 500;
}

a:hover {
    color: rgb(70, 180, 120);
}

img {
    max-width: 100%;
}

span {
    font-weight: 500;
    padding-left: 20px;
}

i {
    font-size: 4em;
}

/* ----- Base layout styles ----- */
.portfolio-heading {
    font-size: 2em;
    padding-top: 20px;
    padding-bottom: 30px;
}

.profile-image {
    padding-top: 50px;
}

.intro-text {
    color: rgb(81, 83, 83);
    font-weight: 300;
    padding: 40px 20px;
    text-align: center;
}

/* --- Layout: navigation --- */

.name {
    font-size: 1.75em; /* 28px */
    text-align: center;
    margin: 0;
    padding-top: 15px;
}

.main-nav {
    display: block;
    justify-content: space-around;
    font-weight: 900;
    list-style-type: none;
    margin: 20px 20px;
    padding: 0;
  }

.main-nav a {
    text-align: center;
    display: block;
    background: #fff;
    font-size: 1em;
    text-transform: uppercase;
    margin-top: 5px;
    padding: 10px 15px;
}


.secondary-nav {
    display: none;
}

/* --- Layout: containers --- */
.main-header {
    text-align: center;
}

.main-header {
    background: rgb(233, 228, 228);
}

.project {
    padding-left: 1.25em;
    padding-right: 1.25em;
    padding-bottom: 30px;
}

#portfolio {
    background-color: #fff;
    padding-top: 20px;
}

.skills-section {
    text-align: center;
    padding: 20px 15px;
    background-color: #fff;
}

.contact-section {
    text-align: center;
    padding: 20px 15px;
}

/* --- Footer --- */

footer {
    width: 100%;
}

hr {
    margin-left: 15px;
    margin-right: 15px;
    border-top: .5px solid rgb(122, 122, 121);
}

.name-footer {
    float: left;
}

.top {
    float: right;
}

.name-footer {
    font-size: 1em;
    font-weight: 500;
    padding-left: 15px;
}

.top {
    font-size: 1em;
    text-transform: uppercase;
    padding-right: 15px;
    margin-top: 16px;
}

/* ----- Media queries ----- */

@media (min-width: 768px) {
    
    .container {
        width: 90%;
        margin: 0 auto;
        max-width: 1000px;
    }

    .main-nav li {
        display: inline-block;
    }

    .main-nav a {
        background-color: rgb(233, 228, 228);
    }

    .profile-image {
        width: 40%;
        float: right;
        padding: 0;
        margin-top: 40px;
        margin-left: 15px;
        padding-bottom: 40px;
    }

    .intro-text {
        text-align: left;
    }

    .portfolio-heading {
        margin-bottom: 0px;
    }

    .project {
        width: 50%;
        float: left;
    }

    .project p {
        width: 75%;
        text-align: center;
        margin: 0 auto;
    }


    .top {
        display: none;
    }


}

@media (min-width: 1024px) {
    
    /* .container {
        margin: 0 auto;
        max-width: none;
    }

    .name {
        float: left;
    }

    .main-nav {
        float: right;
    }

    .intro-text {
        margin: 0;
        padding: 0;
    }

    .profile-image {
        max-width: 400px;
        padding: 0;
        margin-top: 40px;
        margin-left: 200px;
        display: inline-block;
    } */
}

/* --- Clearfix --- */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}